<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ics.dgfabapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TotalAffiliateOrder"></activity>
        <activity android:name=".New_Affiliate_Program" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".OccassionActivity" />
        <activity android:name=".Department_Activity" />
        <activity android:name=".GoDown_Keeper" />
        <activity android:name=".Cashier_Activity" />
        <activity android:name=".Attandence_Activity" />
        <activity android:name=".Debit_note" />
        <activity android:name=".Credit_Note" />
        <activity android:name=".Accountant_Cr_Db" />
        <activity android:name=".Creat_sales_accountant" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".TotalSalesActivity" />
        <activity android:name=".SalesOrderDetail" />
        <activity android:name=".CreateOrder" />
        <activity android:name=".Invoice1" />
        <activity android:name=".SeenProfile" />
        <activity android:name=".Invoice2" />
        <activity android:name=".Invoice3" />
        <activity android:name=".Boxes_Activities.Company_lIst" />
        <activity android:name=".Boxes_Activities.Sales_Order" />
        <activity android:name=".Tracked_Order" />
        <activity android:name=".Order_Informations" />
        <activity android:name=".WalletActivity" />
        <activity android:name=".AddProduct" />
        <activity android:name=".CreateNewGroup" />
        <activity android:name=".ChatSentMessage" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".Dealer_Order_Info" />
        <activity android:name=".Order_Products" />
        <activity android:name=".Catigories_activities" />
        <activity android:name=".DirCateActivity" />
        <activity android:name=".AddDealer" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".CompanyList" />
        <activity android:name=".DealersList" />
        <activity android:name=".Call_splash_screen" />
        <activity android:name=".SalesOrderThree" />
        <activity android:name=".SalesOrderTwo" />
        <activity android:name=".My_tender" />
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>